
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

/* Home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg.jpg ");
  background-size: cover;
  background-position: center;
  filter: blur(8px) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="a"><feComponentTransfer><feFuncA type="linear" slope="10"/></feComponentTransfer></filter>#a');
  z-index: -1;
}

.img{
  display: flex;
}

.img img{
width: 230px; 
}

.login_form{
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: 30px 40px;
}

.form_container {
  display: flex;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #7d2ae8;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #7d2ae8;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}

.form_container a {
  color: #7d2ae8;
  font-size: 12px;
}

.form_container .button {
  background: #7d2ae8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  color: white;
}

.form_container .button:hover {
  cursor: pointer;
  transition: 0.10s ease;
}

.form_container .button:active {
  background: #6f43a9;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}
